<div class="top-fold" [ngClass]="{'fetched': fetched}" style="background-image: url('./assets/images/main_bg.jpg');">
  <!--<h1 *ngIf="error">{{error}}</h1>-->

  <div class="col-11 col-sm-8 col-md-7 mx-auto form-holder">
    <h2>
      TRADE TRACKER
      <span>search for products here</span>
    </h2>

    <h3>TRADE TRACKER</h3>

    <form #from="ngForm" (ngSubmit)="fetchProducts()">
      <input type="text" name="url" value="" placeholder="Type your URL 'here' " [(ngModel)]="url" required>
      <button type="submit" name="submit" value="Fetch"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="loading" *ngIf="loading"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
</div>

<!-- product fetch -->
<section class="container-fluid products">
  <div class="row">
    <div class="products__item col-md-4" *ngFor="let product of products">
      <div>
        <div class="row">
          <div class="col-md-4 left">
            <div class="logo">
              <img src="{{product.imageURL}}" alt="">
            </div>
            <div class="price">
              <span>{{product.price[0]['_']}}</span>
              <figure>{{product.price[0]['$'].currency}}</figure>
            </div>
          </div>
          <div class="col-md-8 right">
            <ul>
              <li>Product ID:{{ product.productID }}</li>
              <li>Name: {{product.name}}</li>
              <li>Category: {{product.categories[0].category[0]['$'].path}}</li>
              <li>ProductURL: {{product.productURL}}</li>
              <li>Description: {{product.description}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



